BASE_URL=https://your-rqi-service-host:52207
API_USERNAME=your-username
API_KEY=your-api-key
IGNORE_HTTPS_ERRORS=true
AIRCOM_BASE_URL=
AIRCOM_API_USERNAME=
AIRCOM_API_KEY=
AIRCOM_IGNORE_HTTPS_ERRORS=true
